.page {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .avatar {
    width: 2rem;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    font-size: 4rem;
  }

  .nameContainer {
    display: flex;
    align-items: center;
    gap : 0.5rem
  }
}
